/* 汎用 */
body {
  background-color: rgb(197, 197, 197);
  text-align: center;
  height: 100vh;
  min-height: 500px;
}

container {
  padding: 20px;
}

/* エディタ本体 */
#editor-main {
  position: relative;
}

#canvas:focus {
  outline: none;
}

input[type="number"].editor-speed-piece::-webkit-outer-spin-button,
input[type="number"].editor-speed-piece::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-speed-piece {
  position: absolute;
  margin-right: 5px;
  right: 0px;
  height: 10px;
  width: 25px;
  font-size: 8px;
  border: solid 0.2px #000000;
  box-sizing: content-box;
}

.editor-speed-piece:focus {
  outline: none;
  border: solid 1px #001068;
  z-index: 100;
}

/* エディタメニュー関連 */
#editor {
  background-color: white;
  display: inline-block;
  margin: auto;
  max-height: 424px;
}

#editor-controller {
  display: flex;
  border-width: 1px;
  font-size: 15px;
  font-family: "Yu Gothic", sans-serif;
}

#editor-menu {
  margin-top: 20px;
  margin-right: 20px;
  padding: 0 10px;
  border: 1px solid;
  height: 384px;
  text-align: left;
}

.menu-item-container {
  margin-top: 4px;
  width: 106px;
}

.menu-move-display {
  display: flex;
  margin-top: 3px;
}

.menu-move-btn,
.menu-move-txt {
  margin: auto 4px;
}

.menu-move-btn:hover {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.menu-move-header {
  display: flex;
  height: 22px;
  line-height: 22px;
}

#menu-label-checkbox {
  margin: auto 10px;
  width: 15px;
  height: 15px;
  transition: 0.1s;
}

.uk-form-small {
  height: 24px!important;
}

#menu-output {
  display: flex;
  margin-top: 14px;
  font-size: 14px;
}

.menu-output-btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 2px;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.btn-blue {
  color: #67c5ff;
  border: solid 2px #67c5ff;
}

.btn-red {
  color: #ff67de;
  border: solid 2px #ff67de;
}

.btn-blue:hover {
  background: #67c5ff;
  color: white;
  cursor: pointer;
}

.btn-red:hover {
  background: #ff67de;
  color: white;
  cursor: pointer;
}

/* スタート画面 */
#start-container {
  width: 500px;
  height: 400px;
  margin: auto;
  background-color: aquamarine;
  font-family: "Segoe UI", "Yu Gothic", sans-serif;
}

#start-title {
  color: lightyellow;
  font: 40px "Segoe UI";
  text-align: center;
  border-bottom: solid 1px linen;
}

#start-music-select,
#start-score-select {
  margin-top: 15px;
  margin-bottom: 15px;
}

#start-go-next {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  border: solid linen;
  border-width: 1px 0;
}

.start-go-btn {
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  border-radius: 3px;
  transition: 0.4s;
  margin: auto;
}

#start-key-selector {
  margin: auto;
}

#start-version {
  color: gray;
  margin-top: 3px;
}
