/* 汎用 */
body {
  background-color: rgb(197, 197, 197);
  text-align: center;
  height: 100vh;
  min-height: 500px;
}

container {
  padding: 20px;
}

/* エディタ本体 */
#editor-main {
  position: relative;
}

#canvas:focus {
  outline: none;
}

#editor-mode-text {
  position: absolute;
  top: 5px;
  left: 50px;
  font-size: 11px;
  white-space: nowrap;
}

input[type="number"].editor-speed-piece::-webkit-outer-spin-button,
input[type="number"].editor-speed-piece::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.editor-speed-piece {
  position: absolute;
  margin-right: 5px;
  right: 0px;
  height: 10px;
  width: 25px;
  font-size: 8px;
  border: solid 0.2px #000000;
  box-sizing: content-box;
}

.editor-speed-piece:focus {
  outline: none;
  border: solid 1px #001068;
  z-index: 100;
}

/* エディタメニュー関連 */
#editor {
  background-color: white;
  display: inline-block;
  margin: auto;
  max-height: 429px;
  user-select: none;
}

#editor-controller {
  position: relative;
  display: flex;
  border-width: 1px;
  font-size: 15px;
  font-family: "Yu Gothic", sans-serif;
}

#editor-menu {
  background-color: white;
  margin-top: 25px;
  margin-right: 20px;
  padding: 0 10px;
  border: 1px solid;
  height: 384px;
  text-align: left;
}

.menu-item-container {
  margin-top: 4px;
  width: 106px;
}

.menu-move-display {
  display: flex;
  margin-top: 3px;
}

.menu-move-btn,
.menu-move-txt {
  margin: auto 2px;
}

.menu-move-txt {
  width: 27px;
  text-align: center;
}

.menu-move-btn:hover {
  color: orange;
  font-weight: bold;
  cursor: pointer;
}

.menu-move-header {
  display: flex;
  height: 22px;
  line-height: 22px;
}

#menu-label-checkbox {
  margin: auto 10px;
  width: 15px;
  height: 15px;
  transition: 0.1s;
}

.uk-form-small {
  height: 24px !important;
}

#menu-output {
  display: flex;
  margin-top: 14px;
  font-size: 14px;
  flex-wrap: wrap;
}

.menu-output-btn {
  width: 45px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.btn-blue {
  color: #67c5ff;
  border: solid 2px #67c5ff;
}

.btn-red {
  color: #ff67de;
  border: solid 2px #ff67de;
}

.btn-gray {
  color: #646464;
  border: solid 2px #646464;
}

.btn-orange {
  color: #ff9c4a;
  border: solid 2px #ff9c4a;
  width: 100px;
}

.menu-output-btn:hover {
  color: white;
  cursor: pointer;
}

.btn-blue:hover {
  background: #67c5ff;
}

.btn-red:hover {
  background: #ff67de;
}

.btn-gray:hover {
  background: #646464;
}

.btn-orange:hover {
  background: #ff9c4a;
  text-decoration-line: none;
}

#editor-option,
#editor-save {
  position: absolute;
  width: 300px;
  height: 430px;
  top: 100px;
  background-color: rgba(245, 228, 159, 0.9);
  border-radius: 2px;
}

#editor-save {
  background-color: rgba(126, 201, 248, 0.9);
}

.option-item-container {
  margin: 4px auto 0 auto;
  width: 206px;
}

.option-sub-item-container {
  margin: 2px auto 0 auto;
  width: 100px;
  float: left;
}

.save-item-container {
  margin: auto;
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.save-txt {
  font-size: 12px;
  width: 100%;
}

.save-output-btn {
  width: 40%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  transition: 0.4s;
}

.save-output-btn:hover {
  color: white;
  cursor: pointer;
}

.save-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0.5;
  z-index: 99;
}

.uk-modal-close-default.editor-close {
  top: 0;
  right: 0;
}

/* スタート画面 */
#start-container {
  width: 500px;
  height: 400px;
  position: relative;
  margin: auto;
  background-color: aquamarine;
  font-family: "Segoe UI", "Yu Gothic", sans-serif;
  user-select: none;
}

#start-title {
  color: lightyellow;
  font: 40px "Segoe UI";
  text-align: center;
  border-bottom: solid 1px linen;
}

.start-uploader {
  margin-top: 15px;
  margin-bottom: 15px;
}

.start-droparea.uk-placeholder {
  height: 40px;
  width: 255px;
  padding: 20px;
  line-height: 40px;
}

#start-go-next {
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  border: solid linen;
  border-width: 1px 0;
}

.start-btn {
  width: 85px;
  height: 44px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  transition: 0.4s;
  margin: auto;
  box-sizing: border-box;
}

.start-btn:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#start-load {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 100px;
  background-color: rgba(103, 197, 255, 0.9);
  border-radius: 2px;
}

#start-key-selector {
  margin: auto;
}

#start-version {
  color: gray;
  margin-top: 3px;
}

/* 設定画面 */
#configure-container {
  width: 500px;
  height: 475px;
  margin: auto;
  background-color: rgb(255, 221, 127);
  font-family: "Segoe UI", "Yu Gothic", sans-serif;
  user-select: none;
}

#configure-title {
  padding-top: 10px;
  border: solid linen;
  border-width: 0 0 1px 0;
}

.configure-context-title {
  margin: 5px auto;
  color: salmon;
}

#configure-uploader {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border: solid linen;
  border-width: 0 0 1px 0;
}

#configure-droparea {
  height: 30px;
  padding: 8px;
}

#configure-conf-select {
  width: 250px;
  height: 100%;
  margin-left: 40px;
}

.configure-design-item {
  display: flex;
  justify-content: left;
  font-size: 16px;
  padding: 0 40px;
  margin: 10px 0;
}

.configure-options {
  display: flex;
}

.configure-design-text {
  width: 150px;
  text-align: left;
}

.configure-radio {
  display: flex;
  margin-left: 10px;
  width: 110px;
}

.configure-design-text-long {
  width: 280px;
  text-align: left;
}
